html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    // padding-left: 2vh;
    font-family: Hack, monospace !important;
    font-size: 16px !important;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    cursor: crosshair;
}

html {
    // margin-bottom: 4vh;
}

body {
    padding-left: 2vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-size: 16px !important;
    // margin-bottom: 0 !important;
}
