.main_info {
    margin-top: 8.2vh;
    padding-left: 0px !important;
    h2 {
        font-weight: bold;
    }
}

.content {
    font-size: 14px;
    p {
        margin-bottom: 2px;
    }
    a {
        text-decoration: underline;
        font-style: italic;
        color: rgb(33, 37, 41);
    }
    a:hover {
        font-weight: bold;
        cursor: crosshair;
        color: rgb(33, 37, 41);
    }
}
