.main_music {
    margin-top: 8.2vh;
    padding-left: 0px !important;
}

.content {
    width: 350px;
    font-size: 14px;
    h2 {
        font-weight: bold;
    }

    p {
        margin-bottom: 2px;
    }
}

.title {
    margin-bottom: 4vh;
    margin-top: 4vh;
}
