.main_project {
    // width: 66.66vw;
    // text-align: center;
    margin-top: 8.2vh;
    padding-left: 0px !important;
    h2 {
        font-weight: bold;
    }
}

.container {
    display: flex;
}

.description {
    margin-right: 23vw;
}

.picture {
    margin-bottom: 2vh;
}

.title {
    margin-bottom: 4vh;
}

.pictures {
    // text-align: center;
    width: min-content;
}

.content {
    font-size: 14px;
    p {
        margin-bottom: 2px;
    }
    a {
        text-decoration: underline;
        font-style: italic;
        color: rgb(33, 37, 41);
    }
    a:hover {
        font-weight: bold;
        cursor: crosshair;
        color: rgb(33, 37, 41);
    }
}
