.main_sidebar {
    // width: 33.33vw;
    // padding-left: 2vw;
}

.sidebar_component {
    // padding-left: 2vh;
    ul {
        list-style: none;
    }

    h3:before {
        content: '_';
        padding-right: 5px;
    }
}

.title {
    font-weight: bold;
    height: 8.2vh;
    margin-bottom: 8.2vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    h1 {
        font-weight: bold;
    }
}

.subtitle {
    margin-bottom: 2vh;
    width: fit-content;

    h2 {
        font-weight: bold;
    }
}

.items {
    margin-bottom: 4.1vh;

    li {
        width: fit-content;
    }
}

.footer {
    margin-top: 26.6vh;
    // position: fixed;
    // bottom: 2vh;
    // background-color: white;
    padding: 0.5rem;
    padding-left: 0px;
    h2 {
        font-weight: bold;
        margin-bottom: 0px !important;
    }
}
